{% extends 'base_.html' %}
{% load static %}

{% block title %}
    BunnyLib | User password change
{% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/authentication/user_password_change.css' %}">
<div class="user__update">
    <div class="user__update-title">
        <h1>Change password</h1>
    </div>
    <form class="input__form" action="" method="POST">
        {% csrf_token %}
            <div class="input__form-user">
                <label class="form__label" for="old_password">
                    Old password:
                </label>
                {{ form.old_password }}
            </div>
            <div class="input__form-user">
                <label class="form__label" for="new_password_1">
                    New password:
                </label>
                {{ form.new_password1 }}
            </div>
            <div class="input__form-user">
                <label class="form__label" for="new_password_2">
                    Repeat password:
                </label>
                {{ form.new_password2 }}
            </div>
            {% for message in messages %}
                <div {% if message.tags %} class="{{ message.tags }} message" {% endif %}>{{ message }}</div>
            {% endfor %}
            {% for field, error in form.errors.items %}
                 <div class="input__error">{{ error }}</div>
            {% endfor %}
        <div class="input__form-buttons">
            <button class="btn btn-confirm" type="submit">
                Confirm
            </button>
            <button class="btn btn-cancel" type="button" onClick="javascript:history.go(-1);">
                Back
            </button>
        </div>
    </form>
</div>
{% endblock %}
