{% extends 'base_.html' %}
{% load static %}

{% block title %}
    BunnyLib | Main page
{% endblock %}

{% block moderate %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book/books.css' %}">
<div class="create__buttons">
    <a href="#" class="btn btn-create-book">Create Book</a>
    <a href="#" class="btn btn-create-author">Create Author</a>
    <a href="#" class="btn btn-create-order">Create Order</a>
</div>
<section class="hero-slider">
    <div class="container">
        <ul class="slider">
            <li class="slide slide-1">
                <img src="{% static 'media/slider_1.jpg' %}" alt="slide one">
            </li>
            <li class="slide slide-2">
                <img src="{% static 'media/slider_2.jpg' %}" alt="slide two">
            </li>
            <li class="slide slide-3">
                <img src="{% static 'media/slider_3.jpg' %}" alt="slide three">
            </li>
        </ul>
    </div>
</section>
{% endblock %}


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/book/books.css' %}">
<div class="books__listing">
    {% for book in books %}
    <div class="book">
        <div class="book__image">
            <img class="book__cover" src="{{ book.book_cover_or_default }}" alt="book cover">
        </div>
        <div class="book__text">
            <div class="book__text-info">
                <div class="book__text-row">
                    <h3 class="name">Name: </h3>
                    <span class="value">{{ book.name }}</span>
                </div>
                <div class="book__text-row">
                    <h3 class="name">Author: </h3>
                    <span class="value">{{ book.authors.first }}</span>
                </div>
                <div class="book__text-row">
                    <h3 class="name">Description: </h3>
                    <span class="value">{{ book.description }}</span>
                </div>
            </div>
           <div class="book__text-buttons">
            <a href="{{ book.get_absolute_url }}" class="btn btn-grey ">More</a>
            <a href="{% url 'order_on_click' book.id %}" class="btn btn-green">Order</a>
           </div>
        </div>
    </div>
    {% endfor %}
</div>
<button class="btn btn-more btn-black">Show more</button>
{% endblock %}