{% extends 'base_.html' %}
{% load static %}

{% block title %}
    BunnyLib | Orders
{% endblock %}

{% block moderate %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order/orders_all.css' %}">
{% if request.user.role %}
<div class="create__buttons">
    <a href="{% url 'book_create' %}" class="btn btn-create-book">Create Book</a>
    <a href="{% url 'author_create' %}" class="btn btn-create-author">Create Author</a>
    <a href="{% url 'order_create' %}" class="btn btn-create-order">Create Order</a>
</div>
{% endif %}
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order/orders_all.css' %}">
<div class="order__holder">
    <div class="moderate__buttons">
        <ul>
            {% if request.user.role %}
            <li><a href="{% url 'orders_all' %}" class="btn btn-create">Orders all</a></li>
            <li><a href="{% url 'orders_not_returned' %}" class="btn btn-create">Orders not returned</a></li>
            {% else %}
            <li><a href="{% url 'orders_my' %}" class="btn btn-create">Orders all</a></li>
            <li><a href="{% url 'orders_my_not_returned' %}" class="btn btn-create">Orders not returned</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="order-title">
        <h1>Orders</h1>
    </div>
    <div class="orders__all">
        <div class="container">
            <div class="users__orders">
                <table>
                    <tr>
                        <th>№ Order</th>
                        <th>Book name</th>
                        <th>User name</th>
                        <th>Start date</th>
                        <th>Planned end date</th>
                        <th>End date</th>
                        <th>Show more</th>
                    </tr>
                    {% for order in orders %}
                    <tr>
                        <td>{{ order.id }}</td>
                        <td>{{ order.book.name }}</td>
                        <td>{{ order.user.first_name }}</td>
                        <td>{{ order.created_at }}</td>
                        <td>{{ order.planned_end_at }}</td>
                        <td>{{ order.end_at }}</td>
                        <td><a href="{% url 'order_by_id' order.id %}" class="btn btn-more">More</a></td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}