{% extends 'base_.html' %}
{% load static %}

{% block title %}
    BunnyLib | Order update
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order/order_update.css' %}">
<div class="order__create">
    <div class="order__create-title">
        <h1>Update the order</h1>
    </div>
    <form class="input__form" action="" method="POST">
        {% csrf_token %}
            <div class="input__form-order">
                <div class="form__label">User: </div>
                <div class="form__value">{{ order.user.first_name }}</div>
            </div>
            <div class="input__form-order">
                <div class="form__label">Book: </div>
                <div class="form__value">{{ order.book.name }}</div>
            </div>
            <div class="input__form-order">
                <div class="form__label">Start date: </div>
                <div class="form__value">{{ order.created_at }}</div>
            </div>
            <div class="input__form-order">
                <label class="form__label" for="planned_end_at">
                    Planned end date:
                </label>
                {{ form.planned_end_at }}
            </div>
            <div class="input__form-order">
                <label class="form__label" for="end_at">
                    End date:
                </label>
                {{ form.end_at }}
            </div>
        <div class="input__form-buttons">
            <button class="btn btn-confirm" type="submit">
                Confirm
            </button>
           <button class="btn btn-cancel" type="button" onClick="javascript:history.go(-1);">
                Back
            </button>
        </div>
    </form>
</div>
{% endblock %}