{% extends 'base.html' %}

{% block title%}
  Order number {{ order.id }}
{% endblock %}

{% block content %}
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Order number</th>
      <th scope="col">Order created at</th>
      <th scope="col">Order ends</th>
      <th scope="col">Order planned end</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">{{ order.id }}</th>
      <td>{{ order.created_at }}</td>
      <td>{{ order.end_at }}</td>
      <td>{{ order.planned_end_at }}</td>
    </tr>
  </tbody>
</table>
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">User card </h5>
        <ul class="list-group list-group-flush">
            <li class="list-group-item">User name: {{ order.user.first_name }}</li>
            <li class="list-group-item">User last name: {{ order.user.last_name }}</li>
        </ul>
        <a href="{% url 'user_by_id' order.user.id %}" class="btn btn-secondary">Show more</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Book card</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Book name: {{ order.book.name }}</li>
                <li class="list-group-item">Book description: {{ order.book.description }}</li>
                <li class="list-group-item">Author names:
                    {% for author in order.book.authors.all %}
                        {{ author.name }}
                    {% endfor %}
                </li>
            </ul>
        <a href="{% url 'book_by_id' order.book.id %}" class="btn btn-secondary">Show more</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
