{% extends 'base_.html' %}
{% load static %}

{% block title %}
    BunnyLib | Order number {{ order.id }}
{% endblock %}

{% block moderate %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order/order_by_id.css' %}">
<div class="moderate__buttons">
    <a href="#" class="btn btn-edit">Edit</a>
    <a href="#" class="btn btn-delete">Delete</a>
</div>
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order/order_by_id.css' %}">
<div class="order__holder">
    <div class="order-title">
        <h1>Order information</h1>
    </div>
    <div class="order__content">
        <div class="order__content-order">
            <table>
                <tr>
                    <th>Start date</th>
                    <th>Planned end date</th>
                    <th>End date</th>
                </tr>
                <tr>
                    <td>13-12-2020</td>
                    <td>21-12-2020</td>
                    <td><form action="submit"><input type="date"></form></td>
                </tr>
            </table>
        </div>
        <div class="order__content-book-and-user">
            <div class="order__content-book">
                <div class="order__content-book-cover">
                    <img src="image/book_cover.png" alt="book cover">
                </div>
                <div class="order__content-book-text">
                    <div class="book__name">Book: Book_name</div>
                    <div class="book__author">Author: Author</div>
                </div>
                <div class="order__content-btn-book">
                    <a class="btn btn-book" href="#">About book</a>
                </div>
            </div>
            <div class="order__content-user">
                <div class="order__content-user-img">
                    <img src="image/username.png" alt="user avatar">
                </div>
                <div class="order__content-user-text">
                    <div class="user__fname">First name: Pasha</div>
                    <div class="user__email">Email: neofobos@gmail.com</div>
                </div>
                <div class="order__content-btn-user">
                    <a class="btn btn-user" href="#">User profile</a>
                </div>
            </div>

        </div>
        <div class="confirmation__buttons">
            <a href="#" class="btn btn-confirm">Close order</a>
            <a href="#" class="btn btn-cancel">Cancel</a>
        </div>
    </div>
</div>
{% endblock %}