{% extends 'base_.html' %}
{% load static %}

{% block title %}
    BunnyLib | Order create
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order/order_create.css' %}">
<div class="order__create">
    <div class="order__create-title">
        <h1>Create an order</h1>
    </div>
    <form class="input__form" action="" method="POST">
        {% csrf_token %}
            <div class="input__form-order">
                <label class="form__label" for="user">
                    User:
                </label>
                {{ form.user }}
            </div>
            <div class="input__form-order">
                <label class="form__label" for="book">
                    Book:
                </label>
                {{ form.book }}
            </div>
            <div class="input__form-order">
                <label class="form__label" for="planned_end_at">
                    Planned end date:
                </label>
                {{ form.planned_end_at }}
            </div>
        <div class="input__form-buttons">
            <button class= "btn btn-confirm" type="submit">
                Confirm
            </button>
            <button class= "btn btn-cancel" type="button">
                Back
            </button>
        </div>
    </form>
</div>
{% endblock %}