{% extends 'base_.html' %}
{% load static %}

{% block title %}
    BunnyLib | Order confirm
{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/order/order_confirm.css' %}">
<div class="order__holder">
    <div class="order-title">
        <h1>Order information</h1>
    </div>
    <div class="order__content">
        <form action="" method="POST">
            {% csrf_token %}
            <div class="order__content-order">
                {% if form.errors %}
                <div class="input__error">
                {% for value, error in form.errors.items %}
                    {{ error }}
                {% endfor %}
                </div>
                {% endif %}
                <table>
                    <tr>
                        <th>Enter your planned order end date</th>
                    </tr>
                    <tr>
                        <td>{{ form.planned_end_at }}</td>
                    </tr>
                </table>
            </div>
            <div class="order__content-book-and-user">
                <div class="order__content-book">
                    <div class="order__content-book-cover">
                        <img src="{{ book.book_cover_or_default }}" alt="book cover">
                    </div>
                    <div class="order__content-book-text">
                        <div class="book__name">Book: {{ book.name }}</div>
                        <div class="book__author">Author: {{ book.authors.first }}</div>
                    </div>
                    <div class="order__content-btn-book">
                        <a class="btn btn-book" href="{% url 'book_by_id' book.id %}">About book</a>
                    </div>
                </div>
                <div class="order__content-user">
                    <div class="order__content-user-img">
                        <img src="{{ user.user_photo_or_default }}" alt="user avatar">
                    </div>
                    <div class="order__content-user-text">
                        <div class="user__fname">First name: {{ user.first_name }}</div>
                        <div class="user__email">Email: {{ user.email }}</div>
                    </div>
                    <div class="order__content-btn-user">
                        <a class="btn btn-user" href="{% url 'my_user' %}">User profile</a>
                    </div>
                </div>
            </div>
            <div class="confirmation__buttons">
                <button class= "btn btn-confirm" type="submit">
                    Confirm order
                </button>
                <button class="btn btn-cancel" type="button" onClick="javascript:history.go(-1);">
                    Back
                </button>
            </div>
        </form>
    </div>
</div>
{% endblock %}

