
.container {
    width: 100%;
    max-width: 1140px;
    padding: 0 20px;
    margin: 0 auto;
}

.create__buttons {
    position: fixed;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 10px;
    opacity: 50%;
    display: flex;
    bottom: 110px;
    right: 10px;
    flex-direction: column;
}

.create__buttons a {
    margin: 10px;
    color: teal;
}

.create__buttons:hover {
    opacity: 100%;
}

.create__buttons a:hover {
    margin: 10px;
    color: white;
    background-color: teal;
}

.order__holder {
    position: relative;
}

.moderate__buttons {
    position: absolute;
    top: 30px;
}

.moderate__buttons ul {
    display: flex;
}

.moderate__buttons li {
    margin: 0 5px;
}

.btn-create {
    padding: 5px;
    color: teal;
}

.btn-more {
    padding: 5px;
    color: teal;
}

.btn {
    display: inline-block;
    border-radius: 6px;
    border: 1px solid;
    font-size: 18px;
    line-height: 20px;
    text-decoration: none;
    text-align: center;
}

.order-title {
    text-align: center;
}


.users__orders {
    margin-top: 30px;
}

table {
    border: 1px, solid, black;
    text-align: center;
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 8px;
}

tr:nth-child(even) {
    background-color: rgb(190, 190, 190);
}
